@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

@font-face{
    font-family: zeb;
    src: url('Splash.ttf');
}
*{
    box-sizing: border-box;
    font-family: 'zeb', cursive;
    }



body{
    background-color: rgb(209, 124, 209);
}

h1, h2{
    color: crimson;
    text-align: center;
}

p{
    color:blueviolet;
    font-size: 32px;
}

.centretext{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.secpara{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.thirdpara{
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#maintitle{
    color: green;
    text-decoration: underline;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 40;

}
a:hover{
    color: orange;
}

img:hover{
    border: 10px solid blue;

}

.content{
    text-align: center;
    width:40vw;
}