body{
    color: red;
}

.desktop, .mobile {
    display: none;
}

@media (max-width: 500px) {
    body {
        color:blue;
    }
}

@media (orientation: landscape) {
    .desktop {
        display: inline-block;
    }
}
@media (orientation: portrait) {
    .mobile {
        display: inline-block;
    }
}

@media (orientation: portrait){
    .title {
        color: purple;
        background-color: black;
        text-align: center;
        padding: 5%;
        font-size: 2em;
    }
}
@media (orientation: landscape){
    .title {
        color: black;
        background-color: purple;
        text-align: center;
        padding: 5%;
        font-size: 4em;
    }
}
@media (prefers-color-scheme: dark) {
    .desktop {
      background-color: black;
    }
  
    h1 {
      color: white;
    }
  }

  @media (prefers-color-scheme: light) {
    .mobile {
      background-color: white;
    }
  
    h1 {
      color: black;
    }
  }